@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("backround.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul{
    display: flex;
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 20px;
    transition: border-bottom 0.3s;
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.nav-button .btn{
    width: 120px;
    height: 35px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}

.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn{
    display: none;
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    overflow: hidden;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
}

.login-container, .register-container, .welcome-container{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.login-container{
    opacity: 1;
}

.register-container{
    opacity: 0;
    transform: translateX(100%);
}

.welcome-container{
    opacity: 0;
    display: none;
    align-items: center;
}

.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
}

.top span a:hover{
    text-decoration: underline;
}

header{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 10px 0 20px 0;
}

.input-box{
    position: relative;
    margin-bottom: 20px;
}

.input-box i{
    position: absolute;
    top: 15px;
    left: 10px;
    color: #fff;
}

.input-field{
    width: 100%;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.input-field:focus{
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

input[type="submit"]{
    background: #4B8E4B;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #3C743C;
}

.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.two-col .one{
    display: flex;
    align-items: center;
}

.two-col .two{
    align-self: center;
}

input[type="checkbox"]{
    margin-right: 10px;
}

.nav-button #logoutBtnWelcome{
    display: none;
}
